<div>
    <!-- SECCIÓN 1 -->
    <div class="cont-index-1">
        <p>El mundo es el patio de tu casa</p>
    </div>
    <!-- SECCIÓN 2 -->
    <div class="container cont-index-2">
        <div class="cuadros">
            <div id="int-1">
                <p>Optimizá tu espacio <br>de la mejor manera</p>
            </div>
            <div id="int-2">
                <p>Llevá la casa de tus sueños <br>a donde sea que vayas</p>
            </div>
            <div id="int-3">
                <p>Hacelo con tu estilo</p>
            </div>
        </div>
        <div class="cuadro-personalizar">
            <div id="imagen-mh1">
            </div>
            <div id="descripcion-1">
                <p>Elegí y personaliza uno<br>de nuestros vehiculos</p>
                <a [routerLink]="['/personalizar']" class="boton mt-4">Personalizar</a>
            </div>
        </div>
        <div class="cuadro-servicio">
            <div id="descripcion-2">
                <p>Trae tu vehiculo y convertilo<br>en una casa con ruedas</p>
                <a [routerLink]="['/servicios']" class="boton mt-4">Servicio</a>
            </div>
            <div id="imagen-mh2"></div>
        </div>
    </div>
</div>