<main>
    <!-- SECCIÓN 1 -->
    <section class="cont-personalizar-1">
        <p>Personaliza tu <strong>motorhome</strong> como mas te guste <br>que nosotros te lo armamos</p>
    </section>

    <!-- SECCIÓN 2 -->
    <section class="cont-personalizar-2">
        <article>
            <p class="sub-estilo">Elije un estilo</p>
        </article>
        <article class="cuadros">
            <div id="cuadro1">
                <p>Aventura</p>
            </div>
            <div id="cuadro2">
                <p>Hogareño</p>
            </div>
            <div id="cuadro3">
                <p>Minimalista</p>
            </div>
            <div id="cuadro4">
                <p>Playa</p>
            </div>
            <div id="cuadro5">
                <p>Rústico</p>
            </div>
        </article>
    </section>

    <!-- SECCIÓN 3 -->
    <section class="cont-personalizar-3">
        <article class="interior360">
            <div class="marco">
                <div class="tour-brujula">
                    <p>Tour 3D</p>
                    <i class="far fa-compass"></i>
                </div>
                <div class="icono360">
                    <img src="./img/personalizar/icono360.png">
                </div>
            </div>
        </article>
        <article class="opciones">
            <div class="paleta-dis">
                <p class="sub-estilo" id="paleta">Paleta de colores</p>
                <div class="colores">
                    <div id="color1"></div>
                    <div id="color2"></div>
                    <div id="color3"></div>
                    <div id="color4"></div>
                </div>
                <p class="sub-estilo" id="distribucion">Distribución interior</p>
                <div class="interiores">
                    <div id="interior1">
                        <img src="img/personalizar/interior1.jpg">
                    </div>
                    <div id="interior2">
                        <img src="img/personalizar/interior2.jpg">
                    </div>
                    <div id="interior3">
                        <img src="img/personalizar/interior3.jpg">
                    </div>
                </div>
            </div>
            <div class="adicionales">
                <p class="sub-estilo" id="adicional">Adicionales</p>
                <div class="opciones-ad">
                    <div class="cuadrados">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="txt-adicional">
                        <p>Asientos de cuero</p>
                        <p>Cortinas black out</p>
                        <p>Iluminación led</p>
                        <p>Aire acondicionado</p>
                        <p>Vidrios espejados</p>
                        <p>Cama levadiza</p>
                        <p>Paneles solares</p>
                        <p>Suelos laminados</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="guardar">
            <p>Guardá tus <br>cambios</p>
            <a href="#">Ingresar</a>
            <a href="#">Crear cuenta</a>
        </article>
    </section>
</main>