/* SECCIÓN 1 */
.cont-personalizar-1 {
    height: 500px;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%),
        url(../../../../public/img/personalizar/imagen-fondo3.jpg);
    background-size: cover;
    background-position: center;
}
.cont-personalizar-1 p {
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
}

/* SECCIÓN 2 */
.cont-personalizar-2 {
    background-color: white;
}
.cuadros {
    width: 1020px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.cuadro-estilo {
    width: 180px;
    height: 94px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.cuadro-estilo:hover {
    cursor: pointer;
}
.cuadro-estilo p {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.cuadro-seleccionado {
    opacity: 0.9;
    border: 3.5px solid #8aaf4b;
}

/* SECCIÓN 3 */
.cont-personalizar-3 {
    width: 1000px;
    margin: auto;
    padding-bottom: 60px;
}
.seleccion-estilo {
    display: flex;
    width: 950px;
    margin-top: 60px;
}
.img-estilo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    height: 450px;
}
.img-estilo img {
    width: 100%;
    height: auto;
}
.txt-estilo {
    width: 50%;
    padding-left: 40px;
}
.colores {
    display: flex;
    justify-content: space-between;
}
.cuadro-color {
    cursor: pointer;
    text-align: center;
}
.cuadro-color p {
    color: #404040;
    font-weight: 500;
}
.color {
    width: 96px;
    height: 42px;
    margin-bottom: 6px;
    border-radius: 5px;
    border: 2px solid #cecece;
}
.color-seleccionado {
    opacity: 0.8;
    border: 3.5px solid #8aaf4b;
    width: 104px;
    height: 46px;
}
.cuadro-adicional {
    display: flex;
    width: 200px;
    cursor: pointer;
}
.seleccion-adicional {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #cecece;
}
.txt-adicional {
    margin-left: 16px;
    font-size: 16px;
    color: #404040;
    font-weight: 500;
}
.adicional-seleccionado {
    background-color: #8aaf4b;
}
.nombremh {
    margin-bottom: 60px;
}
.cuadro-nombremh {
    width: 500px;
    margin: auto;
}
.cuadro-nombremh input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 2px solid #cecece;
    border-radius: 5px;
    color: #404040;
    font-size: 16px;
    font-weight: normal;
}
.cuadro-nombremh input:focus {
    outline: none;
    border: 2px solid rgb(54, 129, 226);
}
.info-pago {
    width: 65%;
}
.tablero-precios {
    width: 100%;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    padding-top: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
#precios {
    height: 84%;
    align-content: flex-start;
}
.precio-estilo {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}
.precio-estilo p {
    font-weight: 500;
    color: #4C4C4C;
    padding-left: 10px;
}
.precio-estilo div {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #b4b4b4;
}
#total {
    height: 13%;
    border-top: 5px solid #4C4C4C;
}
#total p {
    text-align: end;
    padding-top: 6px;
    font-size: 24px;
    font-weight: bold;
    color: #4C4C4C;
}
#totalCompra p {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #4C4C4C;
}
.pago {
    width: 100%;
    height: 86px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
.pago p {
    font-size: 24px;
    color: #404040;
    font-weight: 600;
}
.error p {
    color: crimson;
    margin-bottom: 8px;
}
.modal-dialog {
    width: 430px;
}
.modal-content {
    border: 0px;
}
.modal-header {
    flex-direction: column-reverse;
    border-bottom: 0px;
}
.modal-body {
    padding: 10px 45px;
    padding-bottom: 45px;
}
input[type="number"] {
    width: 100%;
    padding: 6px;
    display: block;
    box-sizing: border-box;
    border: 2px solid #cecece;
    border-radius: 5px;
    color: #404040;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}
input[type="number"]:focus {
    outline: none;
    border: 2px solid rgb(54, 129, 226);
}
input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .cont-personalizar-1 {
        height: 250px;
    }
    .cont-personalizar-1 p {
        padding-top: 100px;
        font-size: 19px;
    }
    .modal-dialog {
        width: 360px;
    }
    .parrafo {
        width: 350px;
    }
    .cuadros {
        width: 100%;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .cuadro-estilo {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }
    .cont-personalizar-3 {
        width: 350px;
    }
    .seleccion-estilo {
        flex-direction: column;
        width: 100%;
    }
    .img-estilo {
        width: 100%;
        height: 300px;
    }
    .txt-estilo {
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }
    .colores {
        width: 350px;
        flex-wrap: wrap;
    }
    .cuadro-nombremh {
        width: 100%;
    }
    .info-pago {
        width: 100%;
    }
    .tablero-precios {
        height: 400px;
    }
    .pago p {
        font-size: 18px;
    }
}