<main>
    <!-- SECCIÓN 1 -->
    <section class="cont-servicios-1">
      <p>Convertí cualquier <strong>vehículo</strong> en un camper</p>
    </section>

    <!-- SECCIÓN 2 -->
    <section class="cont-servicios-2">
      <p class="sub-estilo">Camperización</p>
      <article class="parrafo">
        <p>
          Te ofrecemos una amplia variedad de servicios para modificar tu
          vehículo.
        </p>
      </article>
    </section>

    <!-- SECCIÓN 3 -->
    <section class="cont-servicios-3">
      <article id="art-1">
        <p>TECHOS ELEVABLES</p>
      </article>
      <article id="art-2">
        <p>BATERÍAS AUXILIARES</p>
      </article>
      <article id="art-3">
        <p>CALEFACCIÓN <br />ESTACIONARIA</p>
      </article>
      <article id="art-4">
        <p>ASIENTO CAMA</p>
      </article>
      <article id="art-5">
        <p>MOBILIARIO CAMPER</p>
      </article>
      <article id="art-6">
        <p>AISLAMIENTO Y <br />PANELADO</p>
      </article>
      <article id="art-7">
        <p>INSTALACIONES <br />ELÉCTRICAS</p>
      </article>
      <article id="art-8">
        <p>INSTALACIÓN DE AGUA</p>
      </article>
      <article id="art-9">
        <p>INSTALACIÓN DE GAS</p>
      </article>
    </section>
  </main>