<div>
  <!-- SECCIÓN 1 -->
  <div class="cont-servicios-1">
    <p>Convertí cualquier <strong>vehículo</strong> en un camper</p>
  </div>
  <!-- SECCIÓN 2 -->
  <div class="cont-servicios-2">
    <p class="sub-estilo">Camperización</p>
    <div class="container parrafo">
      <p>
        Te ofrecemos una amplia variedad de servicios para modificar tu
        vehículo.
      </p>
    </div>
  </div>
  <!-- SECCIÓN 3 -->
  <div class="container cont-servicios-3">
    <div class="row row-cols-1 row-cols-lg-3 g-5">
      <div *ngFor="let servicio of servicios" class="col">
        <a [routerLink]="['/servicios/servicio-detalle', servicio.id]">
          <div class="cuadro-servicio" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), url(img/servicios/{{servicio.imagen}})">
            <p class="text-uppercase">{{servicio.titulo}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>