/* SECCIÓN 1 */
.cont-productos-1 {
    height: 500px;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%),
        url(../../../../public/img/productos/imagen-fondo4.jpg);
    background-size: cover;
    background-position: center;
}
.cont-productos-1 p {
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
}

/* SECCIÓN 2 */
.cont-productos-2 {
    background-color: white;
}

/* SECCIÓN 3 */
.menu-orden {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown-menu a {
    cursor: pointer;
}
.menu-categoria {
    border:1px solid gray;
    padding-left: 15px;
}
#txt-resultados {
    color: #404040;
    font-weight: 500;
    align-self: center;
}
.cont-productos-3 {
    width: 960px;
    margin-bottom: 60px;
}
.cuadro-producto {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 195px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.info-producto {
    font-weight: 600;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    line-height: normal;
}
#titulo {
    font-size: 18px;
    padding-right: 10px;
    align-content: center;
}
#precio {
    font-size: 26px;
    align-self: flex-end;
}

/* SECCIÓN 4 */
.cont-productos-4 {
    width: 850px;
}
.cuadro-personalizar {
    height: 200px;
    border-radius: 8px;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
#imagen-mh1 {
    background: url(../../../../public/img/index/motorh1.jpg);
    margin: 10px 0px 10px 10px;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
#descripcion-pers {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    color: #404040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1000px) {
    .cont-productos-1 {
        height: 250px;
    }
    .cont-productos-1 p {
        padding-top: 100px;
        font-size: 22px;
    }
    .parrafo {
        width: 350px;
    }
    .parrafo p {
        font-weight: normal;
        line-height: 34px;
    }
    .cont-productos-3, .cont-productos-4  {
        width: 350px;
    }
    .menu-orden {
        padding: 0px;
    }
    .cuadro-personalizar {
        height: 320px;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        margin-bottom: 40px;
    }
    #imagen-mh1 {
        width: 100%;
        height: 150px;
        margin: 0px;
    }
    #descripcion-pers {
        width: 100%;
    }
    .boton {
        width: 60%;
        margin-top: 18px;
    }
}