<div>
    <!-- SECCIÓN 1 -->
    <div class="cont-productos-1">
        <p>Elije uno de nuestros <strong>productos</strong> <br>a excelentes precios</p>
    </div>
    <!-- SECCIÓN 2 -->
    <div class="cont-productos-2">
        <p class="sub-estilo">Motorhomes</p>
        <div class="container parrafo">
            <p>Nuestros productos hacen que su vehículo recreativo sea único, atendiendo de esta manera las exigencias del mercado actual y ofreciendo una buena optimización del espacio de su motorhome</p>
        </div>
    </div>
    <!-- SECCIÓN 3 -->
    <div class="container cont-productos-3">
        <div class="menu-orden">
            <div id="txt-resultados">
                <p>Mostrando {{numeroResultados}} resultados</p>
            </div>
            <div class="dropdown">
                <button class="menu-categoria btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{nombreFiltro}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="obtenerListaDeProductos()">Todos los productos</a></li>
                    <li><a class="dropdown-item" (click)="obtenerProductosPorCategoria('Motorhome')">Motorhomes</a></li>
                    <li><a class="dropdown-item" (click)="obtenerProductosPorCategoria('Trailer')">Trailers</a></li>
                    <li><a class="dropdown-item" (click)="obtenerProductosPorCategoria('Mini motorhome')">Mini motorhomes</a></li>
                    <li><a class="dropdown-item" (click)="obtenerProductosPorCategoria('Casa rodante')">Casas rodantes</a></li>
                </ul>
              </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 g-5">
            <div *ngFor="let producto of productos" class="col">
                <a [routerLink]="['/productos/producto-detalle', producto.id]">
                    <div class="cuadro-producto"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), url(img/productos/{{producto.imagen}})">
                        <div class="info-producto">
                            <p id="titulo">{{producto.titulo}}</p>
                            <p id="precio">${{producto.precio}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- SECCIÓN 4 -->
    <div class="container cont-productos-4">
        <div class="cuadro-personalizar">
            <div id="imagen-mh1"></div>
            <div id="descripcion-pers">
                <p>Elegí y personaliza uno<br>de nuestros vehiculos</p>
                <a [routerLink]="['/personalizar']" class="boton mt-4">Personalizar</a>
            </div>
        </div>
    </div>
</div>