<main>
    <!-- SECCIÓN 1 -->
    <div class="cont-productos-1">
        <p>Elije uno de nuestros <strong>productos</strong> <br>a excelentes precios</p>
    </div>

    <!-- SECCIÓN 2 -->
    <section class="cont-productos-2">
        <p class="sub-estilo">Motorhomes</p>
        <article class="parrafo">
            <p>Nuestros productos hacen que su vehículo recreativo sea único, atendiendo <br>de esta manera las
                exigencias del mercado actual y ofreciendo una buena <br>optimización del espacio de su motorhome
            </p>
        </article>
    </section>

    <!-- SECCIÓN 3 -->
    <section class="cont-productos-3">
        <a href="#">
            <div id="cuadro-1">
                <p class="txt">Familiar <br>4 personas</p>
                <p class="precio">$799,99</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-2">
                <p class="txt">Familiar <br>4 personas</p>
                <p class="precio">$739,99</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-3">
                <p class="txt">Trailer <br>2 personas</p>
                <p class="precio">$110,00</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-4">
                <p class="txt">Familiar <br>de lujo</p>
                <p class="precio">$949,99</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-5">
                <p class="txt">Kombi <br>playera</p>
                <p class="precio">$144,99</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-6">
                <p class="txt">Espaciosa <br>aventura</p>
                <p class="precio">$749,99</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-7">
                <p class="txt">Casa <br>rodante</p>
                <p class="precio">$120,00</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-8">
                <p class="txt">Camper <br>benivan</p>
                <p class="precio">$850,00</p>
            </div>
        </a>
        <a href="#">
            <div id="cuadro-9">
                <p class="txt">Megadic</p>
                <p class="precio">$1,800,00</p>
            </div>
        </a>
    </section>

    <!-- SECCIÓN 4 -->
    <section class="cont-productos-4">
        <div class="cuadro-personalizar">
            <div id="imagen-mh1"></div>
            <div id="descripcion-1">
                <p>Elegí uno de nuestros vehiculos <br>y personalizalo como quieras</p>
                <a href="personalizar.html" class="boton">Personalizar</a>
            </div>
        </div>
    </section>
</main>