<div>
    <!-- SECCIÓN 1 -->
    <div class="cont-nosotros-1">
    </div>
    <!-- SECCIÓN 2 -->
    <div class="cont-nosotros-2">
        <div>
            <p class="sub-estilo">¡Cumplí tus <strong>sueños</strong>!</p>
            <div class="container parrafo pb-5">
                <p>Hace más de 10 años construimos junto a familias y amigos la casa de sus sueños. <br>Viajá a donde quieras con las mejores comodidades que solo Mobilehome puede ofrecer.</p>
            </div>
        </div>
        <div class="container art-iconos">
            <div>
                <div>
                    <img src="img/nosotros/mapa.png">
                </div>
                <p>Elegí un lugar en el <span>mundo</span> <br>y convertilo en tu patio</p>
            </div>
            <div>
                <div>
                    <img src="img/nosotros/casa-movil.png">
                </div>
                <p>Las <span>comodidades</span> de tu casa <br>sobre ruedas</p>
            </div>
            <div>
                <div>
                    <img src="img/nosotros/sol.png">
                </div>
                <p>Viví <span>momentos</span> únicos</p>
            </div>
        </div>
    </div>

    <!-- SECCIÓN 3 -->
    <div>
        <div>
            <p class="sub-estilo">Nos enfocamos en la <strong>optimización</strong> del espacio</p>
            <div class="container parrafo">
                <p>Ofrecemos una amplia variedad de posibles estados dentro del motorhome, <br>gracias a nuestros muebles frabricados para ser multifuncionales. <br>Aprovechamos cada rincón porque sabemos lo importante que es el espacio.</p>
            </div>
        </div>
        <div>
            <p class="sub-estilo" id="txt-person">Personalizalo con tu <strong>estilo</strong></p>
            <div class="container parrafo pb-5">
                <p>Somos los únicos fabricantes en Argentina que disponen de este servicio. <br>¡Personalizá el interior de cualquiera de nuestros modelos a tu gusto!</p>
            </div>
        </div>
        <div class="container art-estilos">
            <div>
                <div>
                    <img src="img/nosotros/minimalista.png" alt="">
                </div>
                <p id="min">Minimalista</p>
            </div>
            <div>
                <div>
                    <img src="img/nosotros/aventura.png" alt="">
                </div>
                <p id="aventura">Aventura</p>
            </div>
            <div>
                <div>
                    <img src="img/nosotros/playa.png" alt="">
                </div>
                <p id="playa">Playa</p>
            </div>
            <div>
                <div>
                    <img src="img/nosotros/hogareño.png" alt="">
                </div>
                <p id="hogar">Hogareño</p>
            </div>
        </div>
        <div>
            <div class="btn-personalizar">
                <a [routerLink]="['/personalizar']" class="boton d-block m-auto">Ir a personalizar</a>
            </div>
        </div>
    </div>
</div>
