<header>
    <div class="cont-head-1">
        <div class="container barra-superior">
            <div class="contacto">
                <i class="fas fa-phone-alt"></i>
                <p id="num-tel">110800300</p>
                <i class="fas fa-envelope"></i>
                <p>info&#64;mobilehome.com</p>
            </div>
            <div class="redes">
                <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://twitter.com/?lang=es">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="conth2">
        <div class="container cont-head-2">
            <div class="menu-responsive">
                <div class="dropdown pt-2">
                    <a href="#"
                        class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" [routerLink]="['/home']">Home</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/personalizar']">Personalizar</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/productos']">Productos</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/servicios']">Servicios</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/nosotros']">Nosotros</a></li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                <a [routerLink]="['/home']" style="padding: 25px 0px;">
                    <img src="img/logomb.png" alt="logo mobilehome" width="200">
                </a>
            </div>
            <nav id="nav-secciones">
                <ul class="secciones">
                    <li>
                        <a [routerLink]="['/personalizar']" [ngStyle]="{color: seccion=='personalizar' ? '#93b55a' : '#404040'}">PERSONALIZAR</a>
                        <div [ngStyle]="{visibility: seccion=='personalizar' ? 'visible' : 'hidden'}" class="barra-seccion"></div>
                    </li>
                    <li>
                        <a [routerLink]="['/productos']" [ngStyle]="{color: seccion=='productos' ? '#93b55a' : '#404040'}">PRODUCTOS</a>
                        <div [ngStyle]="{visibility: seccion=='productos' ? 'visible' : 'hidden'}" class="barra-seccion"></div>
                    </li>
                    <li>
                        <a [routerLink]="['/servicios']" [ngStyle]="{color: seccion=='servicios' ? '#93b55a' : '#404040'}">SERVICIOS</a>
                        <div [ngStyle]="{visibility: seccion=='servicios' ? 'visible' : 'hidden'}" class="barra-seccion"></div>
                    </li>
                    <li>
                        <a [routerLink]="['/nosotros']" [ngStyle]="{color: seccion=='nosotros' ? '#93b55a' : '#404040'}">NOSOTROS</a>
                        <div [ngStyle]="{visibility: seccion=='nosotros' ? 'visible' : 'hidden'}" class="barra-seccion"></div>
                    </li>
                </ul>
            </nav>
            <div class="login">
                <ul *ngIf="estaElUsuarioLogueado() === false">
                    <li>
                        <a data-bs-toggle="modal" data-bs-target="#cuadroLogin" [ngStyle]="{color: '#93b55a'}">Ingresar</a>
                    </li>
                    <li>
                        <a data-bs-toggle="modal" data-bs-target="#cuadroRegistro">Crear Cuenta</a>
                    </li>
                </ul>
                <ul *ngIf="estaElUsuarioLogueado() === true">
                    <li class="dropdown">
                        <a id="ingresar" [ngStyle]="{color: '#93b55a'}" data-bs-toggle="dropdown" aria-expanded="false">{{obtenerNombreUsuario()}}</a>
                        <div class="dropdown-menu text-small">
                            <a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a>
                        </div>
                    </li>
                    <li>
                        <a [routerLink]="['/mismotorhomes']">Mis motorhomes</a>
                    </li>
                </ul>
                <div class="motorhome">
                    <a [routerLink]="['/mismotorhomes']">
                        <img src="img/motorhome_render.png" title="Mis motorhomes" width="100px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Cuadro login -->
<div class="modal fade" id="cuadroLogin" tabindex="-2" aria-labelledby="cuadroLoginLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="cuadroLoginLabel">Iniciar sesión</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formLogin" (ngSubmit)="loguearse()">
                    <label for="emailLogin">E-mail:</label>
                    <input formControlName="emailLogin" type="email" id="emailLogin" name="emailLogin"/>
                    <label for="contraseniaLogin">Contraseña:</label>
                    <input formControlName="contraseniaLogin" type="password" id="contraseniaLogin" name="contraseniaLogin"/>
                    <div *ngIf="formLogin.get('emailLogin')?.invalid && formLogin.get('emailLogin')?.touched" class="error">
                        <p *ngIf="formLogin.get('emailLogin')?.errors?.email">El email ingresado no es correcto.</p>
                    </div>
                    <div *ngIf="formLogin.get('contraseniaLogin')?.invalid && formLogin.get('contraseniaLogin')?.touched" class="error">
                        <p *ngIf="formLogin.get('contraseniaLogin')?.errors?.minlength">La contraseña debe tener 4 caracteres como minimo.</p>
                    </div>
                    <input [disabled]="formLogin.invalid" class="boton" id="inicio-sesion" type="submit" value="Ingresar" data-bs-dismiss="modal" aria-label="Close">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Cuadro registro -->
<div class="modal fade" id="cuadroRegistro" tabindex="-1" aria-labelledby="cuadroRegistroLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="cuadroRegistroLabel">Registrarse</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formRegistro" (ngSubmit)="registrarse()">
                    <label for="nombre">Nombre:</label>
                    <input formControlName="nombre" type="text" id="nombre" name="nombre"/>
                    <label for="apellido">Apellido:</label>
                    <input formControlName="apellido" type="text" id="apellido" name="apellido"/>
                    <label for="email">E-mail:</label>
                    <input formControlName="email" type="email" id="email" name="email"/>
                    <label for="contrasenia">Contraseña:</label>
                    <input formControlName="contrasenia" type="password" id="contrasenia" name="contrasenia"/>
                    <div *ngIf="formRegistro.get('nombre')?.invalid && formRegistro.get('nombre')?.touched" class="error">
                        <p *ngIf="formRegistro.get('nombre')?.errors?.required">El campo nombre es requerido.</p>
                    </div>
                    <div *ngIf="formRegistro.get('apellido')?.invalid && formRegistro.get('apellido')?.touched" class="error">
                        <p *ngIf="formRegistro.get('apellido')?.errors?.required">El campo apellido es requerido.</p>
                    </div>
                    <div *ngIf="formRegistro.get('email')?.invalid && formRegistro.get('email')?.touched" class="error">
                        <p *ngIf="formRegistro.get('email')?.errors?.email">El email ingresado no es correcto.</p>
                        <p *ngIf="formRegistro.get('email')?.hasError('emailTaken')">Este email ya está registrado.</p>
                    </div>
                    <div *ngIf="formRegistro.get('contrasenia')?.invalid && formRegistro.get('contrasenia')?.touched" class="error">
                        <p *ngIf="formRegistro.get('contrasenia')?.errors?.minlength">La contraseña debe tener 4 caracteres como minimo.</p>
                    </div>
                    <input [disabled]="formRegistro.invalid" class="boton" id="registrar" type="submit" value="Crear cuenta" data-bs-dismiss="modal" aria-label="Close">
                </form>
            </div>
        </div>
    </div>
</div>